build:
  image: docker
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "humble"'
  script:
    - DATE=$(date -d @1706538067 +"%d-%m-%Y")
    - docker build -t "${CI_REGISTRY_IMAGE}:${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}-${DATE}"
      -t "${CI_REGISTRY_IMAGE}:${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}" ./.devcontainer
    - docker login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" "${CI_REGISTRY}"
    - docker push "${CI_REGISTRY_IMAGE}"
