stages:
  - base
  - derived
  - cleanup

# Factorized script for defining image variables
.define-image-variables:
  script:
    - DATE="pr-build"
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        # Use the source branch of the merge request
        export BRANCH_NAME=$(echo ${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr "/" -)
      else
        # Use the current branch for pushes
        export BRANCH_NAME=$(echo ${CI_COMMIT_BRANCH} | tr "/" -)
        DATE=$(date -d "${CI_PIPELINE_CREATED_AT:0:10}" +"%d-%m-%Y")
      fi
    - BASE_IMAGE="${CI_REGISTRY_IMAGE}:${BRANCH_NAME}-base-${DATE}"
    - IMAGE_NAME_SHORT="${CI_REGISTRY_IMAGE}:${BRANCH_NAME}-${IMAGE_NAME}"
    - IMAGE_NAME_LONG="$IMAGE_NAME_SHORT-${DATE}"
    - echo "Building Docker image with the following parameters:"
    - echo "BRANCH_NAME = ${BRANCH_NAME}"
    - echo "BASE_IMAGE = ${BASE_IMAGE}"
    - echo "IMAGE_NAME_SHORT = ${IMAGE_NAME_SHORT}"
    - echo "IMAGE_NAME_LONG = ${IMAGE_NAME_LONG}"

.build-common:
  timeout: 15 hours 0 minutes
  image: docker
  rules:
    - if: '$CI_COMMIT_BRANCH == "humble-devel"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - !reference [.define-image-variables, script]
    - docker build
        --pull
        -t "${IMAGE_NAME_SHORT}"
        -t "${IMAGE_NAME_LONG}"
        -f "${DOCKER_FILE}"
        --build-arg AGIMUS_DOCKER_BASE_IMAGE="${BASE_IMAGE}"
        --build-arg HAPPYPOSE_INSTALL_TYPE="${HAPPYPOSE_INSTALL_TYPE}"
        "${CONTEXT_PATH}"
    - docker login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" "${CI_REGISTRY}"
    - docker push "${IMAGE_NAME_SHORT}"
    - docker push "${IMAGE_NAME_LONG}"

build-base-image:
  stage: base
  extends: .build-common
  variables:
    IMAGE_NAME: base
    DOCKER_FILE: ./.devcontainer/Dockerfile.base
    CONTEXT_PATH: ./.devcontainer

build-control-image:
  stage: derived
  needs: [build-base-image]
  extends: .build-common
  variables:
    IMAGE_NAME: control
    DOCKER_FILE: ./.devcontainer/control/Dockerfile
    CONTEXT_PATH: ./.devcontainer/control

.build-vision-image:
  stage: derived
  needs: [build-base-image]
  extends: .build-common
  variables:
    IMAGE_NAME: vision
    DOCKER_FILE: ./.devcontainer/vision/Dockerfile
    CONTEXT_PATH: ./.devcontainer/vision
    HAPPYPOSE_INSTALL_TYPE: cpu

build-cpu-vision-image:
  extends: .build-vision-image
  variables:
    IMAGE_NAME: vision
    HAPPYPOSE_INSTALL_TYPE: cpu

build-cuda-vision-image:
  extends: .build-vision-image
  variables:
    IMAGE_NAME: vision-cuda
    HAPPYPOSE_INSTALL_TYPE: cu124

build-realtime-control-image:
  stage: base
  extends: .build-common
  variables:
    IMAGE_NAME: realtime-control
    DOCKER_FILE: ./.devcontainer/Dockerfile.realtime
    CONTEXT_PATH: ./.devcontainer

# Common cleanup logic for a single image
.cleanup-common:
  stage: cleanup
  image: docker
  script:
    - !reference [.define-image-variables, script]
    - echo "Cleaning up Docker images for branch= $BRANCH_NAME"
    - echo "Removing images= $IMAGE_NAME_SHORT, $IMAGE_NAME_LONG, $BASE_IMAGE"
    - docker login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" "${CI_REGISTRY}"
    - docker rmi "${IMAGE_NAME_SHORT}" || true
    - docker rmi "${IMAGE_NAME_LONG}" || true
    - docker rmi "${BASE_IMAGE}" || true
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
  allow_failure: true

# Cleanup job for the base image
cleanup-base-image:
  extends: .cleanup-common
  variables:
    IMAGE_NAME: base

# Cleanup job for the control image
cleanup-control-image:
  extends: .cleanup-common
  variables:
    IMAGE_NAME: control

# Cleanup job for the CPU vision image
cleanup-cpu-vision-image:
  extends: .cleanup-common
  variables:
    IMAGE_NAME: vision

# Cleanup job for the CUDA vision image
cleanup-cuda-vision-image:
  extends: .cleanup-common
  variables:
    IMAGE_NAME: vision-cuda

# Cleanup job for the realtime control image
cleanup-realtime-control-image:
  extends: .cleanup-common
  variables:
    IMAGE_NAME: realtime-control