.build-common:
  timeout: 7 hours 0 minutes
  image: docker
  rules:
    - if: '$CI_COMMIT_BRANCH == "humble-devel"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - DATE=$(date -d "${CI_PIPELINE_CREATED_AT:0:10}" +"%d-%m-%Y")
    # For true base image this will be ignored as a build argument
    - export BRANCH_NAME=$(echo ${CI_COMMIT_BRANCH} | tr "/" -)
    - BASE_IMAGE="${CI_REGISTRY_IMAGE}:${BRANCH_NAME}-base-${DATE}"
    - IMAGE_NAME_SHORT="${CI_REGISTRY_IMAGE}:${BRANCH_NAME}-${IMAGE_NAME}"
    - IMAGE_NAME_LONG="$IMAGE_NAME_SHORT-${DATE}"
    - docker build
        -t "${IMAGE_NAME_SHORT}"
        -t "${IMAGE_NAME_LONG}"
        -f "${DOCKER_FILE}"
        --build-arg AGIMUS_DOCKER_BASE_IMAGE="${BASE_IMAGE}"
        --build-arg HAPPYPOSE_INSTALL_TYPE="${HAPPYPOSE_INSTALL_TYPE}"
        "${CONTEXT_PATH}"
    - |
      if [ "$CI_COMMIT_BRANCH" = "humble-devel" ]; then
        echo "Pushing Docker images..."
        docker login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" "${CI_REGISTRY}"
        docker push "${IMAGE_NAME_SHORT}"
        docker push "${IMAGE_NAME_LONG}"
      else
        echo "Skipping Docker push as this is not the humble-devel branch."
      fi
  variables:
    IMAGE_NAME: base
    DOCKER_FILE: ./.devcontainer/Dockerfile.base
    CONTEXT_PATH: ./.devcontainer
    HAPPYPOSE_INSTALL_TYPE: cpu

stages:
  - base
  - derived

build-base-image:
  stage: base
  extends: .build-common
  variables:
    IMAGE_NAME: base
    DOCKER_FILE: ./.devcontainer/Dockerfile.base
    CONTEXT_PATH: ./.devcontainer

build-control-image:
  stage: derived
  needs: [build-base-image]
  extends: .build-common
  variables:
    IMAGE_NAME: control
    DOCKER_FILE: ./.devcontainer/control/Dockerfile
    CONTEXT_PATH: ./.devcontainer/control

.build-vision-image:
  stage: derived
  needs: [build-base-image]
  extends: .build-common
  variables:
    IMAGE_NAME: vision
    DOCKER_FILE: ./.devcontainer/vision/Dockerfile
    CONTEXT_PATH: ./.devcontainer/vision
    HAPPYPOSE_INSTALL_TYPE: cpu

build-cpu-vision-image:
  extends: .build-vision-image
  variables:
    IMAGE_NAME: vision
    HAPPYPOSE_INSTALL_TYPE: cpu

build-cuda-vision-image:
  extends: .build-vision-image
  variables:
    IMAGE_NAME: vision-cuda
    HAPPYPOSE_INSTALL_TYPE: cu124

build-realtime-control-image:
  stage: base
  extends: .build-common
  variables:
    IMAGE_NAME: realtime-control
    DOCKER_FILE: ./.devcontainer/Dockerfile.realtime
    CONTEXT_PATH: ./.devcontainer